<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>CodeWithAaryan - Learn How to Code</title>
</head>

<body>
    {% include 'navbar/index.html' %}
    <!-- Bottom part here -->
    <div>
        <!-- Bottom -->
        <section class="  text-gray-600 body-font" style="margin-top: -95px;">
            <div class=" mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
                <div
                    class="mt-2 lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-purple-800">CodeWithAaryan</h1>
                    <p class="mb-8 leading-relaxed">Hey! I am CodeWithAaryan
                        are you
                        confused on which course to take? I have got you covered. Browse course and find out the
                        best course for
                        ypu. Its to free CodeWithAaryan is my attempt to teach you basic and those coding techniques
                        to people in
                        short time whick took me ages to learn.</p>
                    <div class="flex justify-center">
                        <a href="/courses"><button
                                class="px-3 py-2 lg:px-4 lg:py-3 bg-gray-900 text-gray-200 text-xs font-semibold rounded hover:text-white hover:bg-gray-800 dark:bg-gray-100 dark:text-gray-600 dark:hover:bg-gray-300">Free
                                Courses</button></a>
                        <a href="/blog"><button
                                class="px-3 py-2 mx-4 lg:px-4 lg:py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400">Explore
                                Blog</button></a>
                    </div>
                </div>
                <div class="hidden lg:block lg:w-1/2"
                    style="clip-path: polygon(10% 0px, 100% 0%, 100% 100%, 0px 100%);">
                    <img class="object-cover object-center rounded" alt="hero"
                        src="https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                    <div class="h-full bg-black opacity-25"></div>
                </div>
            </div>
        </section>
    </div>

    <!-- Courses -->
    <div class="container mx-auto lg:my-2">
        <h2 class="text-3xl font-medium title-font dark:text-gray-900 my-10 text-center text-purple-600">
            Recommended
            Courses</h2>
        <div class="flex flex-wrap justify-center mx-6">
            <div class="p-4 md:w-1/3 justify-center">
                <div class="max-w-sm rounded-2xl overflow-hidden shadow-lg dark:bg-slate-800"><span
                        style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"><span
                            style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"><img
                                src="/static/img/courses/web.png" alt=""
                                style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0; margin: 0;padding: 0;"
                                aria-hidden="true"></span><img src="/static/img/courses/web.png" alt="img" decoding="async"
                            data-nimg="intrinsic" class="lg:h-48 md:h-36 w-full object-center"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"></span>

                    <div class="px-6 md:my-11 lg:my-0 md:h-72 lg:h-64 lg:py-4 xl:h-52"><span
                            class="tracking-widest text-xs title-font font-medium mb-1 text-gray-400">FREE
                            COURSES</span>
                        <div class="title-font flex text-lg font-medium mb-1 text-black">Web Development Full
                            Course In Hindi</div>
                        <p class="text-base text-gray-500 mb-3">Complete Web Development
                            Course by CodeWithAaryan in Hindi - Learn Web development from starting for free!
                        </p>
                    </div>
                    <a href="/courses/Web development Video/video1/">
                        <div class="px-6 pt-4 pb-2"><span
                                class="inline-block text-white bg-purple-700 rounded-full px-3 py-2 text-sm font-semibold mr-2 my-2 cursor-pointer">Start
                                Watching</span></div>
                    </a>
                </div>
            </div>
            <!-- Python development -->
            <div class="p-4 md:w-1/3 justify-center">
                <div class="max-w-sm rounded-2xl overflow-hidden shadow-lg dark:bg-slate-800"><span
                        style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"><span
                            style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"><img
                                src="/static/img/courses/Amazing.png" alt=""
                                style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0; margin: 0;padding: 0;"
                                aria-hidden="true"></span><img src="/static/img/courses/Amazing.png" alt="img" decoding="async"
                            data-nimg="intrinsic" class="lg:h-48 md:h-36 w-full object-center"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"></span>

                    <div class="px-6 md:my-11 lg:my-0 md:h-72 lg:h-64 lg:py-4 xl:h-52"><span
                            class="tracking-widest text-xs title-font font-medium mb-1 text-gray-400">FREE
                            COURSES</span>
                        <div class="title-font flex text-lg font-medium text-gray-900 mb-3">Amazing Projects by
                            CodeWithAaryan
                            <!-- -->
                        </div>
                        <p class="text-gray-700 text-base">Amazing projects by CodeWithAaryan all that projects are
                            amazing</p>

                    </div>
                    <a href="/courses/amazingproject/video1/">
                        <div class="px-6 pt-4 pb-2"><span
                                class="inline-block text-white bg-purple-700 rounded-full px-3 py-2 text-sm font-semibold mr-2 my-2 cursor-pointer">Start
                                Watching</span></div>
                    </a>
                </div>
            </div>
            <!-- Android Developement -->
            <div class="p-4 md:w-1/3 justify-center">
                <div class="max-w-sm rounded-2xl overflow-hidden shadow-lg dark:bg-slate-800"><span
                        style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"><span
                            style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"><img
                                src="/static/img/courses/tailwind css.png" alt=""
                                style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0; margin: 0;padding: 0;"
                                aria-hidden="true"></span><img src="/static/img/courses/tailwind css.png"
                            alt="img" decoding="async" data-nimg="intrinsic"
                            class="lg:h-48 md:h-36 w-full object-center"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"></span>

                    <div class="px-6 md:my-11 lg:my-0 md:h-72 lg:h-64 lg:py-4 xl:h-52"><span
                            class="tracking-widest text-xs title-font font-medium mb-1 text-gray-400">FREE
                            COURSES</span>
                        <div class="title-font flex text-lg font-medium mb-1 text-gray-900">Tailwind CSS Tutorials in Hindi</div>
                        <p class="text-gray-400 text-base dark:text-gray-900 mb-3">Tailwind CSS is amazing framework of css which give you ability to style your website on index.html page by using classes</p>
                    </div>
                    <a href="/courses/tailwindcss tutorials/video1">
                        <div class="px-6 pt-4 pb-2"><span
                                class="inline-block text-white bg-purple-700 rounded-full px-3 py-2 text-sm font-semibold mr-2 my-2 cursor-pointer">Start
                                Watching</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- testimonisl -->
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Testimonials</h1>
            <div class="flex flex-wrap -m-4">
                <div class="p-4 md:w-1/2 w-full">
                    <div class="h-full bg-gray-100 p-8 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                            <path
                                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                            </path>
                        </svg>
                        <p class="leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday
                            carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo,
                            post-ironic heirloom try-hard pabst authentic iceland.</p>
                        <a class="inline-flex items-center">
                            <span class="flex-grow flex flex-col pl-4">
                                <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
                                <span class="text-gray-500 text-sm">UI DEVELOPER</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="p-4 md:w-1/2 w-full">
                    <div class="h-full bg-gray-100 p-8 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                            <path
                                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                            </path>
                        </svg>
                        <p class="leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday
                            carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo,
                            post-ironic heirloom try-hard pabst authentic iceland.</p>
                        <a class="inline-flex items-center">
                            <span class="flex-grow flex flex-col pl-4">
                                <span class="title-font font-semibold text-lg text-gray-900">Alper Kamu</span>
                                <span class="text-gray-500 text-sm">DESIGNER</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer/index.html' %}
</body>

</html>