<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeWithAaryan | Code Editor</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    {% include 'navbar/index.html' %}
    <div class="container ">
      <div class="min-h-screen dark:bg-gray-900">
          <h1 class="text-center text-3xl pt-8 pb-4 justify-center font-semibold text-purple-700 dark:text-purple-400 ">Download Notes by
              Code With Aaryan (1)</h1>
          <div class="justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 ">
              <div class="p-6 flex">
                  <div
                      class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md ">
                      <div class="flex flex-col items-center p-6 "><img class="mb-3 w-24 h-24 rounded-full shadow-lg"
                              src="/static/img/webdeve.png" alt="WebDeve">
                          <h5 class="mb-1 text-xl font-medium dark:text-gray-900">Website Development</h5><span
                              class="text-sm text-gray-500 dark:text-gray-400">Here HTML CSS JS</span>
                          <div class="grid  mt-4  "><a
                                  class="inline-block text-white bg-purple-700 rounded-full px-3 py-2 text-sm font-semibold mr-2 my-1 cursor-pointer hover:bg-purple-900 text-center"
                                  href="https://github.com/aaryanpandey353/HTML-NOTES/archive/refs/heads/main.zip"><button
                                      class="font-semibold">Start Coding</button></a></div>
                      </div>
                      <div class="flex flex-col items-center p-6 "><img class="mb-3 w-24 h-24 rounded-full shadow-lg"
                              src="/static/img/download.png" alt="WebDeve">
                          <h5 class="mb-1 text-xl font-medium dark:text-gray-900">Python Development</h5><span
                              class="text-sm text-gray-500 dark:text-gray-400">Here Python</span>
                          <div class="grid  mt-4  "><a
                                  class="inline-block text-white bg-purple-700 rounded-full px-3 py-2 text-sm font-semibold mr-2 my-1 cursor-pointer hover:bg-purple-900 text-center"
                                  href="https://github.com/aaryanpandey353/HTML-NOTES/archive/refs/heads/main.zip"><button
                                      class="font-semibold">Start Coding</button></a></div>
                      </div>
                  </div>
              </div>        
          
          </div>
      </div>
  </div>
  {% include 'footer/index.html' %}
</body>
</html>